@charset "utf-8";
/* main.css */

/* 공통적인 속성들 =============================== */
/* full */
.full_area {width: 940px; height: auto; min-height: 100px; margin: auto; box-sizing: border-box;}


/* #wrap */
#wrap {width: 1200px; height: auto; min-height: 500px; margin: auto;}


/* 개별적인 속성들 =============================== */
/* #headBox */


/* #viewBox */
#viewBox {position: relative; width: 100%; height: 550px; background-color: #666;}
  .view_cont {position: absolute; top: 30%; left: 50%; margin-left: -200px; width: 400px; height: 205px;}
    .view_title {width: 400px; height: 24px; margin-bottom: 12px; text-align: center;}
    .view_subtitle {width: 400px; height: 110px; margin-bottom: 23px; text-align: center;}
    .view_more {width: 110px; height: 36px; margin: auto; padding-top: 6px; box-sizing: border-box; background-color: #eee;text-align: center;}


/* #categoryBox */
#categoryBox {width: 100%; height: 350px;}
.category_area {padding-top: 43px; margin: auto;}
  .category_title {width: 100%; height: 46px; margin-bottom: 48px; padding-top: 10px; box-sizing: border-box; text-align: center; font-weight: bold;}
  .category_cont {width: 940px; height: 140px; margin:auto; text-align: center;}
   .category_cont ul {width: 100%; height: 100%;}
   .category_cont li {float: left; width: 300px; height: 100%; margin-right: 20px; background-color: #aaa;}
   .category_cont li:last-child {margin-right: 0;}
    
/* #eventBox */
#eventBox {width: 100%; height: 173px; background-color: #bbb;}

/* #promotionBox */
#promotionBox {width: 100%; height: 620px;}
.promotion_area {padding-top: 104px;}
  .promotion_cont {width: 100%; height: 420px; background-color: #666;}


/* #productBox */
#productBox {width: 100%; height: auto;}
.product_area {margin: auto; margin-bottom: 30px;}
  .product_cont {width: 780px; height: auto; margin: auto;}
  .product_cont ul {width: 100%; height: 100%;}
  .product_cont li {float: left; width: 140px; height: 173px; margin-right: 20px; background-color: #bbb;}
  .product_cont li:last-child {margin-right: 0;}


/* #footBox */

/* #quickBox */