@charset "utf-8";
/* paldo_story.css */

/* 공통적인 속성들 =============================== */
/* full */
.full_area {width: 940px; height: auto; min-height: 100px; margin: auto; box-sizing: border-box;}


/* #wrap */
#wrap {width: 1200px; height: auto; min-height: 500px; margin: auto;}


/* 개별적인 속성들 =============================== */
/* #headBox */

/* #viewBox */
#viewBox {position: relative; width: 100%; height: 280px; background-color: #666;}
  .view_cont {position: absolute; z-index: 10; top: 45%; left: 50%; margin-left: -200px; width: 400px; height: auto; background-color: #fff;}
    .view_title {width: 100%; height: 40px; background-color: #999; text-align: center; font-size: 1.6rem;}

/* #menuBox */
#menuBox {width: 100%; height: auto;}
  .menu_list {width: 100%; height: 30px;}
  .menu_list ul {width: 780px; height: 100%; margin: auto;} 
  .menu_list li {float: left; width: 390px; height: 100%; background-color: #888;}
  .menu_list a {display: inline-block; width: 390px; height: 30px; text-align: center;}
  .menu_list a:hover {background-color: #789456;}

  .submenu_list {width: 100%; height: 28px; margin: auto; padding-top: 27px; padding-bottom: 27px;}
  .submenu_list ul {width: 510px; height: 100%; margin-left: 210px;}
  .submenu_list li {float: left; width: 120px; height: 100%; margin-right: 10px; background-color: #888;}
  .submenu_list li:last-child {margin-right: 0;}
  .submenu_list a {display: inline-block; width: 120px; height: 28px; text-align: center;}
  .submenu_list a:hover {background-color: #789456;}

/* #contBox */
#contBox {width: 100%; height: auto; }
 .cont_area {width: 940px; height: auto; min-height: 870px; margin: auto; margin-bottom: 30px; background-color: #eee;}


/* #footBox */

/* #quickBox */