@charset "utf-8";

/* footer.css */
/* footer영역, 모바일,태블릿,랩탑 집합 */


/* 모바일 =========================================== */
@media screen and (max-width: 766px){
	
	#footBox {
		position: relative;
		width: 100%; height: 200px; 
		padding: 30px; box-sizing: border-box;
		margin:auto;
		background-color: rgb(54, 54, 54);
	}
	
	.sponsor {
		overflow: hidden;
		width: 100%; height: 100px;
		/* background-color: #ddd; */
	}
	.sponsor ul {
		overflow: hidden;
		width: 100%; max-width: 900px; height: 50px;
		margin:auto;
		margin: auto; padding-top: 20px; box-sizing: border-box;
	}
	.sponsor li {
		float: left;
		width: 80px; height: 50px;
		margin-right: 10px; 
		background-color: #aaa;
	}
	
	.copyright {
		width: 100%; height: 80px;
		text-align: center; line-height: 80px;
		font-size: 0.875rem; color: #fff;
		/* background-color: #fff; */
	}
	/* topBtn ================================= */
	.topBtn {
		display: none;
		position: fixed; bottom: 0; left: 50%; z-index: 1000;
		width: 40px; height: 40px;
		margin-left: 100px;
		background-color: #fa0;
		border-radius: 100%;
		box-shadow: 0rem 0rem 0.3rem rgba(30, 30, 30, 0.5);
	}
	.topBtn button {
		width: 100%; height: 100%;
		font-size: 1.2rem; color: #fff;
	}
	
/* @media 종료태그 */
}



/* 태블릿 =========================================== */
@media screen and (min-width: 767px) and (max-width: 939px) {
	
	#footBox {
		position: relative;
		width: 100%; height: 200px; 
		padding: 30px; box-sizing: border-box;
		margin:auto;
		background-color: rgb(54, 54, 54);
	}
	
	.sponsor {
		overflow: hidden;
		width: 100%; height: 100px;
		/* background-color: #ddd; */
	}
	.sponsor ul {
		width: 100%; max-width: 900px; height: 80px;
		margin:auto;
		margin: auto; padding-top: 20px; box-sizing: border-box;
	}
	.sponsor li {
		float: left;
		width: 100px; height: 80px;
		margin-right: 20px; 
		background-color: #aaa;
	}
	
	.copyright {
		width: 100%; height: 80px;
		text-align: center; line-height: 80px;
		font-size: 0.875rem; color: #fff;
		/* background-color: #fff; */
	}
	/* topBtn ================================= */
	.topBtn {
		display: none;
		position: fixed; bottom: 30px; left: 50%; z-index: 1000;
		width: 50px; height: 50px;
		margin-left: 300px;
		background-color: #fa0;
		border-radius: 100%;
		box-shadow: 0rem 0rem 0.3rem rgba(30, 30, 30, 0.5);
	}
	.topBtn button {
		width: 100%; height: 100%;
		font-size: 1.8rem; color: #fff;
	}
	
	
/* @media 종료태그 */
}




/* 랩탑 =========================================== */
@media screen and (min-width: 940px){
	
	#footBox {
		position: relative;
		width: 100%; height: 200px; 
		padding-left: 300px; box-sizing: border-box;
		background-color: rgb(54, 54, 54);
	}
	
	.sponsor {
		overflow: hidden;
		width: 100%; height: 100px;
		/* background-color: #ddd; */
	}
	.sponsor ul {
		width: 940px; height: 80px;
		margin: auto; padding-top: 20px; box-sizing: border-box;
	}
	.sponsor li {
		float: left;
		width: 100px; height: 80px;
		margin-right: 20px; 
		background-color: #aaa;
	}
	
	.copyright {
		width: 100%; height: 80px;
		text-align: center; line-height: 80px;
		font-size: 0.875rem; color: #fff;
		/* background-color: #fff; */
	}
	/* topBtn ================================= */
	.topBtn {
		display: none;
		position: absolute; bottom: 30px; left: 50%; z-index: 1000;
		width: 50px; height: 50px;
		margin-left: 680px;
		background-color: #fa0;
		border-radius: 100%;
		box-shadow: 0rem 0rem 0.3rem rgba(30, 30, 30, 0.5);
	}
	.topBtn button {
		width: 100%; height: 100%;
		font-size: 1.8rem; color: #fff;
	}

/* @media 종료태그 */
}
	

	
